 .head{
    background-color: rgb(188,198,192);
    text-align: center;
    font-size: 33px;
    padding: 14px 14px;
}
.middle{
    margin-top: 0px;
    background-color: rgb(228,238,233);
    height: 1100px;
}

.options{
    /* margin-top: -22px; */
    margin-left: 250px;
    width: 520px;
    height: 50px;
    text-align: center;
    background-color:rgb(188,198,192);
    margin-bottom: 30px;
}
.option{
    margin-top: 30px;
    margin-left: 250px;
    width: 500px;
    height: 50px;
    background-color:rgb(188,198,192);
    margin-bottom: 30px;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 25px;
}
.roption{
    margin-top: 30px;
    margin-left: 250px;
    width: 500px;
    height: 150px;
    background-color:rgb(188,198,192);
    margin-bottom: 30px;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 25px;
}
.random{
    height:20px;
    width:100px;
    font-size: x-small;
}

#mainBox{
    display: flex;
}

#mainBox > div {
    flex: 1;
    /* border: 1px solid black; */
    background-color:rgb(228,238,233);
}
.result{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    background-color:rgb(188,198,192);

}

.dataShow{
    /* padding: 40px; */
    font-weight: 500;
}

.resultBox{
    background-color:rgb(188,198,192);
    width: 80%;
    margin: auto;
    margin-top: 50px;

}